@using GameStore.DomainModels.Enums
@using GameStore.DomainModels.Models
@using GameStore.PL.App_Code
@using GameStore.PL.Configurations
@using GameStore.PL.Util.Localizers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IOptions<ApplicationSettings> ApplicationSettings
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedLocalizer

@{
    var guestCookieSetting = ApplicationSettings.Value.GuestCookieSettings;
    Guid? userId = null;
    if (Context.User.Identity.IsAuthenticated)
    {
        userId = ClaimsHelper.GetUserId(Context.User.Claims);
    }
    else if (Context.Request.Cookies.ContainsKey(guestCookieSetting.GuestIdCookieName))
    {
        userId = Guid.Parse(Context.Request.Cookies[guestCookieSetting.GuestIdCookieName]);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Game Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.bundle.min.cs" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="games" asp-action="Index">Online Store</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="games" asp-action="Index">@Localizer["Games"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="publisher" asp-action="Index">@Localizer["Publishers"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="genre" asp-action="Index">@Localizer["Genres"]</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="platform" asp-action="Index">@Localizer["Platforms"]</a>
                        </li>*@
                        @if (Context.User.IsInRole(UserRoles.Administrator.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="order" asp-action="Index">@Localizer["Orders"]</a>
                            </li>
                        }
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="order" asp-action="GetOrdersHistory">@Localizer["History"]</a>
                        </li>*@

                        @if (Context.User.IsInRole(UserRoles.Administrator.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="Index">@Localizer["AdminPage"]</a>
                            </li>
                        }

                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="Logout">@Localizer["Logout"]</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="GetLoginView">@SharedLocalizer["Login"]</a>
                            </li>
                        }
                        @if (userId != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="basket" asp-action="Details" asp-route-id="@userId">@Localizer["Basket"]</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link disabled">
                                @Localizer["GamesComponent"]:
                                <distributed-cache name="numberOfGames" expires-after="@TimeSpan.FromMinutes(1)">
                                    @await Component.InvokeAsync("GamesCache")
                                </distributed-cache>
                            </a>
                        </li>
                    </ul>
                </div>

                @await Component.InvokeAsync("CulturePickerComponent")
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Game Store
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
