@using GameStore.PL.Util.Localizers
@using Microsoft.AspNetCore.Mvc.Localization
@model GameStore.PL.ViewContexts.CommentEditingViewContext

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@SharedLocalizer["Edit"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditComment" class="entityForm" asp-route-key="@Model.GameKey">
            <input asp-for="@Model.CommentToEdit.Id" hidden />
            <input asp-for="@Model.CommentToEdit.GameId" hidden />
            <input asp-for="@Model.CommentToEdit.ParentId" hidden />
            <input asp-for="@Model.CommentToEdit.Type" hidden />
            <input asp-for="@Model.CommentToEdit.AuthorId" hidden />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.CommentToEdit.Name" class="control-label"></label>
                <input asp-for="@Model.CommentToEdit.Name" class="form-control" />
                <span asp-validation-for="@Model.CommentToEdit.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CommentToEdit.Body" class="control-label"></label>
                <textarea asp-for="@Model.CommentToEdit.Body" rows="10" cols="150" class="form-control"></textarea>
                <span asp-validation-for="@Model.CommentToEdit.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetComments" asp-route-key="@Model.GameKey">@SharedLocalizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
