@using GameStore.PL.Util
@using GameStore.PL.Util.Localizers
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedLocalizer> SharedLocalizer

@model GameStore.PL.ViewContexts.GenreEditingViewContext

@{
    ViewData["Title"] = SharedLocalizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject IHtmlLocalizer<SharedLocalizer> SharedLocalizer

<h1>@SharedLocalizer["Edit"]</h1>

<hr />
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button onclick="setupChosedLocalization(null)" class="nav-link active" id="nav-en-tab" data-bs-toggle="tab" data-bs-target="#nav-en-US" type="button" role="tab" aria-controls="nav-en" aria-selected="true">@SharedLocalizer["English"]</button>
        <button onclick="setupChosedLocalization('@Model.AvailableLocalizations["ru-RU"]')" class="nav-link" id="nav-ru-tab" data-bs-toggle="tab" data-bs-target="#nav-ru-RU" type="button" role="tab" aria-controls="nav-ru" aria-selected="false">@SharedLocalizer["Russian"]</button>
        <button onclick="setupChosedLocalization('@Model.AvailableLocalizations["uk-UA"]')" class="nav-link" id="nav-uk-tab" data-bs-toggle="tab" data-bs-target="#nav-uk-UA" type="button" role="tab" aria-controls="nav-uk" aria-selected="false">@SharedLocalizer["Ukranian"]</button>
    </div>
</nav>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="entityForm">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-en-US" role="tabpanel" aria-labelledby="nav-en-US-tab">
                    <div class="form-group">
                        <label asp-for="GenreToEdit.Name" class="control-label"></label>
                        <input asp-for="GenreToEdit.Name" class="form-control" />
                        <span asp-validation-for="GenreToEdit.Name" class="text-danger"></span>
                    </div>
                </div>
                @for (var i = 0; i < Model.GenreToEdit.Localizations.Count; i++)
                {
                    <div class="tab-pane fade" id="nav-@Model.GenreToEdit.Localizations[i].Localization.CultureCode" role="tabpanel" aria-labelledby="nav-@Model.GenreToEdit.Localizations[i].Localization.CultureCode-tab">
                        <div class="form-group">
                            <label asp-for="@Model.GenreToEdit.Localizations[i].Name" class="control-label"></label>
                            <input asp-for="@Model.GenreToEdit.Localizations[i].Name" class="form-control" />
                            <span asp-validation-for="@Model.GenreToEdit.Localizations[i].Name" class="text-danger"></span>
                        </div>
                    </div>
                }
            </div>


            <input asp-for="GenreToEdit.Id" hidden>
            @for (var i = 0; i < Model.GenreToEdit.Localizations.Count; i++)
            {
                <input asp-for="@Model.GenreToEdit.Localizations[i].Id" hidden>
                <input asp-for="@Model.GenreToEdit.Localizations[i].GenreId" hidden>
                <input asp-for="@Model.GenreToEdit.Localizations[i].LocalizationId" hidden>
            }

            <input id="ChosedLocalization" hidden asp-for="@Model.GenreToEdit.ChosedLocalization" />

            <div class="form-group">
                @Html.DropDownListFor(model => model.GenreToEdit.ParentId,
                    Model.GetGenresAsSelectItem(), "Select to delete current Parrent",
                    new { @class = "form-control", @size=4})
            </div>

            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index" class="btn btn-outline-dark">@SharedLocalizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
