@using GameStore.PL.Util.Localizers
@using Microsoft.AspNetCore.Mvc.Localization
@model GameStore.PL.ViewContexts.GamesPlatformDetailsViewContext

@inject IHtmlLocalizer<SharedLocalizer> SharedLocalizer
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @(FieldLocalizer.GetLocalizedField(p => p.Type, Model.PlatformDTO).ToUpper())
</h1>

<div>
    <h3>
        @Localizer["h3"]
    </h3>

    @if(Model.GamesOnPlatform.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GamesOnPlatform.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GamesOnPlatform.First().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GamesOnPlatform.First().Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GamesOnPlatform.First().UnitsInStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GamesOnPlatform.First().Discontinued)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GamesOnPlatform)
                {
                    <tr>
                        <td>
                            @(FieldLocalizer.GetLocalizedField(x => x.Name, item))
                        </td>
                        <td>
                            @(FieldLocalizer.GetLocalizedField(x => x.Description, item))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitsInStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discontinued)
                        </td>
                        <td>
                            <a asp-controller="game" asp-action="Details" asp-route-key="@item.Key" class="btn btn-outline-dark">@SharedLocalizer["Details"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <br />
    <a asp-action="Index" class="btn btn-outline-dark">@SharedLocalizer["BackToList"]</a>
</div>
