@using GameStore.PL.Util.Localizers
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<GameStore.PL.DTOs.PlatformTypeDTO>

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedLocalizer

@{
    ViewData["Title"] = Localizer["Platforms"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Platforms"]</h1>

<p>
    <a asp-action="GetCreationView" class="btn btn-outline-success">@SharedLocalizer["Create"]</a>
</p>
<table class="table">   
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(FieldLocalizer.GetLocalizedField(x => x.Type, item))
            </td>
                <td>
                    <a asp-action="GetEditingView" asp-route-type="@item.Type" class="btn btn-outline-warning">@SharedLocalizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-type="@item.Type" class="btn btn-outline-dark">@SharedLocalizer["Details"]</a> |
                    <a asp-action="GetDeletingView" asp-route-type="@item.Type" class="btn btn-outline-danger">@SharedLocalizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
